body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    color: navy;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.favicon-container {
    display: flex;
    align-items: center;
}

.favicon {
    height: auto;
    width: 55px;
    margin-right: 23px;
    object-fit: contain;
    cursor: pointer;
}

.version-mismatch {
    color: red;
}

.date-passed {
    color: red;
}

.date-valid {
    color: green;
}

.no-wrap {
    white-space: nowrap;
}

.last-updated {
    font-size: 80%;
    font-style: italic;
    text-align: right;
    color: grey;
}

#pollButton {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}

#pollButton:hover {
    background-color: #f5f5f5;
}